*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4; /* #e8f0f7 */
    color: #333;
    height: 5000px;
    padding-top: 80px; /* To prevent content from being hidden behind the fixed header */
}

header {
    background-color: rgba(45, 54, 66, 0.95);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
}

.logo {
    color: #fff;
    font-size: 30px;
    letter-spacing: -1.5px;
    font-weight: 500;
    margin-left: 10px;

}

.nav{
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: rgba(19, 22, 26, 0.95); 
    transform: translate(-100%);
    transition: transform 0.3s ease-in-out;    
}

.nav--open {
    transform: translate(0);
    transition: transform 0.3s ease-in-out;
    
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* padding: 20px; */
    align-items: center;
}   

.nav__link{
    color: rgba(255, 255, 255, 0.87);
    font-size: 20px;
    transition: color 0.4s ease; /* Smooth transition for hover effect. "ease": default, however here explicitly mentioned */
}

.nav__link:hover,
.nav__link:focus {
    color: rgba(179, 113, 143, 1);
}

.hamburger {
    display: block;
    padding: 10px;
    cursor: pointer;
}


.hamburger__line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

.hamburger--open .hamburger__line:nth-child(1) {
    width: 32px;
    transform: translateY(7px) rotate(50deg);
}

.hamburger--open .hamburger__line:nth-child(2) {
    opacity: 0;
}

.hamburger--open .hamburger__line:nth-child(3) {
    width: 32px;
    transform: translateY(-7px) rotate(-50deg)
} 



@media (min-width: 650px) {

    .logo {
        color: #fff;
        font-size: 30px;
        letter-spacing: -1.5px;
        font-weight: 500;
        margin-left: 10px;

    }

    .nav {
        position: static;
        width: auto;
        padding: 0px 30px;
        background-color: transparent;  
        transform: none;
        transition: none;     
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        column-gap: 40px;
        justify-content: flex-end;
        align-items: center;

    }

    .nav__item {
        

    }

    .hamburger {
        display: none;
    }
    
}

